para pesquisa .com/wswhois.asmx.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://whoislookup.be/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://whoislookup.be/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://whoislookup.be/">
			  <s:element name="statusDomainname">
					<s:complexType>
					  <s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="domainname" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="extension" type="s:string" />
					  </s:sequence>
					</s:complexType>
			  </s:element>
			  <s:element name="statusDomainnameResponse">
					<s:complexType>
					  <s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="statusDomainnameResult" type="s:string" />
					  </s:sequence>
					</s:complexType>
			  </s:element>
			  <s:element name="ownerInfoDomainname">
					<s:complexType>
					  <s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="domainname" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="extension" type="s:string" />
					  </s:sequence>
					</s:complexType>
			  </s:element>
			  <s:element name="ownerInfoDomainnameResponse">
					<s:complexType>
					  <s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ownerInfoDomainnameResult" type="s:string" />
					  </s:sequence>
					</s:complexType>
			  </s:element>
			  <s:element name="statusListDomainname">
					<s:complexType>
					  <s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="extension" type="tns:ArrayOfString" />
					  </s:sequence>
					</s:complexType>
			  </s:element>
			  
					<s:complexType name="ArrayOfString">
						<s:sequence>
						  <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
						</s:sequence>
					</s:complexType>
			  
			  <s:element name="statusListDomainnameResponse">
					<s:complexType>
					  <s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="statusListDomainnameResult" type="tns:ArrayOfDomains" />
					  </s:sequence>
					</s:complexType>
			  </s:element>
			  
					  <s:complexType name="ArrayOfDomains">
							<s:sequence>
							  <s:element minOccurs="0" maxOccurs="unbounded" name="domains" nillable="true" type="tns:domains" />
							</s:sequence>
					  </s:complexType>
							  
					  <s:complexType name="domains">
							<s:sequence>
							  <s:element minOccurs="0" maxOccurs="1" name="domainname" type="s:string" />
							  <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
							</s:sequence>
					  </s:complexType>
			  
		</s:schema>
  </wsdl:types>
  
  
  
  <wsdl:message name="statusDomainnameSoapIn">
    <wsdl:part name="parameters" element="tns:statusDomainname" />
  </wsdl:message>
  <wsdl:message name="statusDomainnameSoapOut">
    <wsdl:part name="parameters" element="tns:statusDomainnameResponse" />
  </wsdl:message>
  <wsdl:message name="ownerInfoDomainnameSoapIn">
    <wsdl:part name="parameters" element="tns:ownerInfoDomainname" />
  </wsdl:message>
  <wsdl:message name="ownerInfoDomainnameSoapOut">
    <wsdl:part name="parameters" element="tns:ownerInfoDomainnameResponse" />
  </wsdl:message>
  <wsdl:message name="statusListDomainnameSoapIn">
    <wsdl:part name="parameters" element="tns:statusListDomainname" />
  </wsdl:message>
  <wsdl:message name="statusListDomainnameSoapOut">
    <wsdl:part name="parameters" element="tns:statusListDomainnameResponse" />
  </wsdl:message>
  <wsdl:portType name="wsWhoisSoap">
    <wsdl:operation name="statusDomainname">
      <wsdl:input message="tns:statusDomainnameSoapIn" />
      <wsdl:output message="tns:statusDomainnameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ownerInfoDomainname">
      <wsdl:input message="tns:ownerInfoDomainnameSoapIn" />
      <wsdl:output message="tns:ownerInfoDomainnameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="statusListDomainname">
      <wsdl:input message="tns:statusListDomainnameSoapIn" />
      <wsdl:output message="tns:statusListDomainnameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsWhoisSoap" type="tns:wsWhoisSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="statusDomainname">
      <soap:operation soapAction="http://whoislookup.be/statusDomainname" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ownerInfoDomainname">
      <soap:operation soapAction="http://whoislookup.be/ownerInfoDomainname" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="statusListDomainname">
      <soap:operation soapAction="http://whoislookup.be/statusListDomainname" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsWhoisSoap12" type="tns:wsWhoisSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="statusDomainname">
      <soap12:operation soapAction="http://whoislookup.be/statusDomainname" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ownerInfoDomainname">
      <soap12:operation soapAction="http://whoislookup.be/ownerInfoDomainname" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="statusListDomainname">
      <soap12:operation soapAction="http://whoislookup.be/statusListDomainname" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsWhois">
    <wsdl:port name="wsWhoisSoap" binding="tns:wsWhoisSoap">
      <soap:address location="http://www.whoislookup.be/wswhois/wswhois.asmx" />
    </wsdl:port>
    <wsdl:port name="wsWhoisSoap12" binding="tns:wsWhoisSoap12">
      <soap12:address location="http://www.whoislookup.be/wswhois/wswhois.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>